@{
    ViewBag.Title = "Home Page";
}

<h2>Imagine Setup HOME</h2>


<a href="@Url.Content("Boxes")" data-role="button">Boxes</a>
<a href="@Url.Content("Rooms")" data-role="button">Rooms</a>
<a href="@Url.Content("Home/About")" data-role="button">About</a>